html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

hr {
  border: dotted #40413e 7px;
  width: 10%;
  border-bottom: none;
  margin: 100px auto 100px auto;
}

h5 {
  padding: 15px;
}

a:link {
  text-decoration: none;
}

.project-img {
  transition: 0.4s ease;
}

.project-img:hover {
  filter: brightness(20%);
}

.navbar-fixed-top.scrolled {
  opacity: 75%;
  background-color: #40413e !important;
  transition: background-color 200ms linear;
}
.navbar-brand.scrolled {
  color: whitesmoke !important;
  transition: background-color 200ms linear;
}
.nav-link.scrolled {
  color: whitesmoke !important;
  transition: background-color 200ms linear;
}

.nav-item:hover {
  text-decoration: underline;
  font-weight: bolder;
}

/* This is for the tile Hero landing */
.banner-area {
  min-height: 100vh;
  background-image: url(./assets/theStag.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.text-content {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 700px;
}

.text-content h2,
.text-content h3 {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  transform-origin: left;
  text-transform: uppercase;
  transform: scaleX(0);
  animation: animate-1 1s ease forwards;
}

.text-content h2 {
  font-size: 5em;
  animation-delay: 2s;
  color: #40413e;
}

.text-content h3 {
  font-size: 2em;
  animation-delay: 3s;
  color: #40413e;
}

.text-content h2:before,
.text-content h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #40413e;
  width: 100%;
  height: 100%;
  transform-origin: right;
  animation: animate-2 1s ease forwards;
  animation-delay: 3s;
}

.text-content h3:before {
  animation-delay: 4s;
}

@keyframes animate-2 {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes animate-1 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/* Hero Landing End */
/* Page CSS */
.section {
  padding: 50px;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  padding-top: 30px;
  padding-bottom: 70px;
}
.personalBanner {
  display: flex;
  align-items: center;
}

.card-columns {
  padding-top: 40px;
}

#skillBadges {
  padding-top: 70px;
  padding-bottom: 70px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#fs-frm {
  border-radius: 10px;
  padding: 20px;
  background-color: #5a5c52;
  color: aliceblue;
}

#fs-frm {
  width: 450px;
}

#contact-container {
  display: flex;
  justify-content: space-between;
}

#profileImg {
  filter: grayscale(100);
  box-shadow: 5px 10px 10px #555353;
  border-radius: 60px;
  /* padding: 20px; */
}

#profileImg:hover {
  filter: saturate();
}

#footerArea {
  background-color: #96938f;
}

#aboutMe {
  color: #40413e;
  background-color: #96938f;
}

#skills {
  color: aliceblue;
  background-color: #5a5c52;
}

#projects {
  color: #40413e;
}

/* Page CSS End */
/* Contact Form CSS */
/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* background-color: rgba(255, 255, 255, 0.9); */
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
/* Contact Form End */
/* Resume Card */
.profile-card-5 {
  margin-top: 20px;
}
.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}
.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}
.profile-card-5 .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.profile-card-5 h5 {
  color: #4e5e30;
  font-weight: 600;
}
.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}
.profile-card-5 .btn-primary {
  background-color: #4e5e30;
  border-color: #4e5e30;
}

#resumeCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

/* Resume Section */

.social-btns {
  color: aliceblue;
  margin-top: 2%;
  transition: transform 0.35s ease;
}

.resumeBtn {
  font-size: large;
  color: #40413e;
}

.social-btns:hover {
  color: #96938f;
  transform: scale(1.5);
}

.social {
  display: flex;
  justify-content: space-between;
}

#copyright {
  font-size: small;
  text-align: center;
  font-weight: bold;
  color: grey;
  padding-top: 2%;
}

#footerSection {
  background-color: #40413e;
}
